
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/vfw/jumpscripts/vfw                      |apps/agentcontroller/jumpscripts/vfw     | | base |
apps/vfw/actor/vfw/base/jumpscale__netmgr/    |apps/gridportal/base/jumpscale__netmgr   | | base |
apps/vfw/osis/vfw/                     |apps/osis/logic/vfw                      | | base |
